@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    background-color: skyblue;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid black;
}

svg {
    transition: 2s;
    cursor: pointer;
}

svg:focus,
svg:hover {
    transform: rotate(360deg);
}

span,
span:hover {
    transition: 0.5s;
}

span:hover {
    text-shadow: 2px 2px 3px gray;
}

#search-container {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0rem 0.25rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#search-container>* {
    border-radius: 1rem;
    border: 0px;
}

#search-button {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
    background-color: rgb(75, 186, 255);
    box-shadow: 2px 2px 2px 1px rgba(80, 80, 80, 0.5);
    align-self: flex-end;
    padding: 0.2rem 0.5rem;
    transition: 0.2s;
}

#search-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px rgba(80, 80, 80, 0.5);
    background-color: lightskyblue;
}

#search-button:active {
    box-shadow: 1px 1px 2px 1px rgba(80, 80, 80, 0.5);
    transform: scale(0.98);
}

#search-input {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
    box-shadow: 2px 2px 2px 1px rgba(80, 80, 80, 0.5);
    transition: 0.2s;
    outline: none;
}

#search-input:focus {
    box-shadow: 4px 4px 2px 1px rgba(80, 80, 80, 0.5);
}

#temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
}

#C,
#F {
    font-family: "Jersey 10", sans-serif;
    background-color: white;
    border: 1px solid black;
    width: 3rem;
    font-weight: 400;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.2s;
}

#C:hover,
#F:hover {
    opacity: 0.5;
}

#C:active,
#F:active {
    opacity: 0.5;
    opacity: 1;
}

#C.active,
#F.active {
    background-color: midnightblue;
    color: white;
}

#forecast-container {
    flex: 1;
    margin-top: 0.8rem;
    background-color: midnightblue;
    height: auto;
    padding-top: 0.5rem;
    padding: 0 1rem;
}

#city-name {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.25rem;
    color: white;
    text-shadow: 3px 2px 2px rgb(113, 113, 113);
    font-style: normal;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

#city-name.visible,
#current-temp.visible {
    opacity: 1;
}

#current-temp {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    color: white;
    font-style: normal;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#hourly-grid {
    margin-bottom: 2rem;
}

#hourly-container-div {
    display: grid;
    grid-template-columns: max-content min-content min-content;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.328);
    border-radius: 20px;
    margin-bottom: 0.25rem;
    font-size: large;
    align-items: center;
    justify-self: center;
    padding: 0 1rem;
}

#hourly-container-div:hover,
#hourly-container-div:active {
    background-color: rgb(43, 43, 190);
}

#hourly-container-div>*:nth-child(2n),
#hourly-container-div>*:nth-child(3n) {
    justify-self: start;
}

#hourly-container-div>:first-child {
    font-size: x-large;
    padding: 10px;
}

#hourly-container-div>*:nth-child(2n) {
    margin-right: 20px;
}

#hourly-container-div>*:nth-child(3n) {
    font-weight: 900;
}

#weekly-title,
#daily-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-shadow: 3px 2px 2px rgb(113, 113, 113);
}

#weekly-title.visible,
#daily-title.visible {
    opacity: 1;
}

#weather-grid {
    display: grid;
    grid-auto-columns: fit-content;
    grid-auto-flow: column;
    max-width: 100%;
    align-self: center;
    justify-self: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: white midnightblue;
    scrollbar-width: thin;
    padding-bottom: 1rem;
}

#weather-div {
    display: grid;
    grid-template-rows: 40px 40px 40px;
    color: white;
    border: 1px solid white;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 0 1rem;
}

#day-div {
    font-size: x-large;
    font-weight: 100;
    align-self: self-start;
}

#temp-div {
    font-weight: 900;
    font-size: large;
}

#forecast-container>div {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#forecast-container>div.visible {
    opacity: 1;
}